*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "result details";
  align-items: end;
  inline-size: 100%;
  max-inline-size: 1140px;
  column-gap: 25px;
}

.result {
  grid-area: result;
}

.content__details {
  grid-area: details;
  inline-size: 100%;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.result__video-container {
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 40px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  block-size: 480px;
  overflow-y: auto;
}

.content__list-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__video-card-description-container {
  flex-grow: 1;
}





/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
